body {
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック",
    "游ゴシック体", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ ゴシック",
    "MS Gothic", HiraKakuProN-W3, "TakaoExゴシック", TakaoExGothic,
    "MotoyaLCedar", "Droid Sans Japanese", sans-serif;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  .content {
    max-width: 34rem;
    width: 100%;
  }
}

table.gojuon {
  border-spacing: 2px;
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 1.5rem;

  td {
    padding: 0px;

    .mora {
      display: flex;
      flex-wrap: wrap;

      .hiragana,
      .katakana {
        width: 100%;
        height: 1.5rem;
        text-align: center;
      }

      .romaji {
        width: 100%;
        height: 1.5rem;
        text-align: center;
        background-color: lightgray;
      }
    }
  }
}

div.kana {
  display: flex;
  flex-wrap: wrap;

  div {
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    margin: 1px;

    &.guess {
      outline: solid 2px navy;
    }
  }
}

.hiragana {
  background-color: lightcoral;
}

.katakana {
  background-color: lightseagreen;
}

@media (min-width: 360px) {
}

@media (min-width: 400px) {
  html {
    font-size: 20px;
  }

  body .content {
    width: 90%;
  }

  table.gojuon {
    border-spacing: 4px;
  }

  div.kana > div {
    margin: 2px;
  }
}

@media (min-width: 700px) {
  table.gojuon td .mora .hiragana,
  table.gojuon td .mora .katakana {
    width: 50%;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 26px;
  }

  table.gojuon {
    border-spacing: 8px;
  }

  div.kana > div {
    margin: 4px;
  }
}

